@tailwind base;
@tailwind components;
@tailwind utilities;

.company {
  animation: moving 10s linear infinite;
}

@keyframes moving {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.text-moving {
  animation: textM 3s linear infinite;
}

@keyframes textM {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0%);
  }
}
